node_modules/
vendor/

.idea/
.DS_Store
Thumbs.db

/www/bitrix
/www/upload
/www/tmp

gitDeploy.php

/www/robots.txt
/www/.htsecure
/www/.htaccess
/www/.htaccess.restore

/www/sitemap.xml
/www/sitemap_files.xml
/www/sitemap*.xml
/www/*sitemap*.xml

.env
.env.*
!.env.local.example
!.env.server.example

/db/
/docs/
/www/local/php_interface/room/settings.local.php
/www/local/php_interface/include/sale_payment/gpweb/keys/
/www/local/php_interface/include/sale_payment/gpweb/text.txt
/www/local/tools/psc/*.xlsx
/www/local/*Log.txt
/www/local/*log*.txt
/www/.htsecure*
*.sql
*.sql.*
*.key
*.p12
*.pfx
*.prod-backup
*.bak
*.backup
*.restore

*.log
Icon.
*.zip
*.tar
*.gz
*.cer
*.pem
.pull-backups/
.leftovers/
